.navbar .nav-link {
    color: #5e5a89;
    font-family: 'DM Sans' sans-serif;
    font-size: 18px;
}

.news {
    background-color: #F2F1FA;
    height: 30px;
    font-size: 14px;
}

.subscribe {
    text-decoration: none;
    color: #9795B5;

    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;
}

.newsL {
    color: #9795B5
}

.logo {
    width: 200px;
    /* adapte la valeur selon ton besoin */
    height: auto;
    /* garde les proportions */
}


.arrow-icon {
    display: inline-block;
    transition: transform 0s ease;
    margin-left: 4px;
}

.rotate {
    transform: rotate(180deg);
}


h1 {
    color: #5D5A88;
}

img {
    border-radius: 30px;
    margin-top: 48px;
    margin-bottom: 48px;

    @media screen and (max-width: 768px) {
        width: 100%;
        height: auto;
        border-radius: 20px;

    }
}

.iframe-wrapper {
    border-radius: 30px;
    overflow: hidden;
    width: 560px;
    height: 315px;
}

.iframe-wrapper iframe {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
}

@media screen and (max-width: 768px) {
    .iframe-wrapper {
        border-radius: 20px;
        width: 100%;
        height: auto;
        aspect-ratio: 16 / 9;
    }
}


p {
    font-size: 20px;
    line-height: 1.5;
    color: #8D8BA7;
    text-align: center;
}